* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

img{    
    display:inline;
    width:400px;
    height:500px;
    background-position: center;
    border-style: double;
}

.grid{
    padding: 16px;
    display: grid;
    grid-gap: 16px;

    @media (min-width: 768px){     
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 960px){     
        grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 1200px){     
        grid-template-columns: repeat(4, 1fr);
    }

    .col{
        border-style: solid;
        background-color: peachpuff;
        margin-bottom: 16px;
        padding: 16px;
    
        .btnDetails{
           margin-top: 10px;
        }
    
    }
}